# env files
.env
.env.local
/env/
*.env

# django pycache
__pycache__/
*.pyc

# node modules
node_modules/

# django migrations
migrations/

# docker files
docker-compose.yml
/backend/Dockerfile
/frontend/Dockerfile

# settings files
/backend/backend/settings.py